html, body {
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    background: url("../images/logo_black.svg") center center / 33% no-repeat #1b1c1d; /* Color from Semantic UI */
}

#site-navigation, #site-footer {
    border-radius: 0;
    border: none;
}

#site-header {
    padding-left: 2.5rem;
    padding-right: calc(2.5rem - 1.14285714em);
}

.site-logo {
    width: 5rem !important;
}

#site-logo-black {
    display: none;
}

#judge0-file-menu {
    width: 15rem;
}

.judge0-run-btn {
    background: url("../images/button.png") no-repeat !important;
    background-size: cover !important;
}

#site-footer, .lm_tab {
    font-family: "JetBrains Mono" !important;
}

.lm_tab {
    box-shadow: none !important;
}

.judge0-puter-visible {
    display: none !important;
}
