html, body {
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    background-color: #1b1c1d !important; /* Color from Semantic UI */
    background: url("../images/logo_black.svg") no-repeat center center;
    background-size: 33%;
}

#site-navigation, #site-footer {
    border-radius: 0;
}

#site-header {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

#site-logo {
    width: 5rem;
}

#run-btn {
    background: url("../images/button.png") no-repeat !important;
    background-size: cover !important;
}

#site-footer, .lm_tab {
    font-family: "JetBrains Mono" !important;
}

.lm_tab {
    box-shadow: none !important;
}
